

comment-content img, .entry-content img, .widget img {
    max-width: 100%
}

img[class*=align], img[class*=wp-image-] {
    height: auto;
}
img.size-full {
    max-width: 100%;
    width: auto;
}

img.wp-post-image {
    max-width: 100%;
    height: auto;
}

p {
	font-family: $font-family-serif;
	font-size: 1.3em;
}

/*

font {

font-family: minion-pro, serif;
font-weight: 700;
font-style: normal;

Minion Pro Bold Italic

font-family: minion-pro, serif;
font-weight: 700;
font-style: italic;

Minion Pro Italic

font-family: minion-pro, serif;
font-weight: 400;
font-style: italic;

Minion Pro Regular

font-family: minion-pro, serif;
font-weight: 400;
font-style: normal;

Minion Pro Bold Display

font-family: minion-pro-display, serif;
font-weight: 700;
font-style: normal;

Minion Pro Bold Italic Display

font-family: minion-pro-display, serif;
font-weight: 700;
font-style: italic;

Minion Pro Italic Display

font-family: minion-pro-display, serif;
font-weight: 400;
font-style: italic;

Minion Pro Display

font-family: minion-pro-display, serif;
font-weight: 400;
font-style: normal;

Minion Std Black

font-family: minion-std-black, serif;
font-weight: 400;
font-style: normal;
}

*/
