.content-info {
    padding: 2em;
    background: #e0e0e0;
	 .row {
		  max-width: 1160px;
		  margin: 0 auto;
	 }
}

.footer-logo {
	 @media(min-width:$screen-sm){
    padding: 2em 1em;
	 }
}

.footer-nav {
	 @media(min-width:$screen-sm){
		  border-left: 1px solid white;
		  border-right: 1px solid white;
	 }
	 padding: 2.5em 0.5em;
	 .navbar-nav>li>a{
		  padding: 0.1em 0.7em 0 0.7em;
		  margin: 1em 0 1em 0;
		  border-right: 1px solid black;
	 }
	 @media (max-width:$screen-sm){
	 .navbar-nav>li {
		  display: inline-block;

	 }
	 }
}
