.contact {

	.navbar{
		margin-bottom: 0;
	}


		.main {
			margin: 0;
			padding: 0;
		}




		.page-header {
			text-align: center;
			//text-transform: uppercase;
			font-weight: 900;
			color: white;
			text-shadow: 1px 2px 0 rgba(1, 0, 2, 0.49);
			background-attachment:fixed;
			background-size: contain;
			margin: 0 0 0em 0;
			transition: padding 1s;
			padding: 3em 2em 2em 2em ;
			background-image: url(../images/contact-header.jpg);
			border-bottom: 5px solid black;
			h1 {
				transition: font-size 1s;
				font-size: 4em;
				margin: 0;
			}
			@media (min-width:$screen-sm){
				padding: 5em 4em 4em 4em ;
				h1 {
					font-size: 5em;
				}
			}
			@media (min-width:$screen-md){
				padding: 8em 6em 6em 6em ;
				h1 {
					font-size: 6em;
				}
			}



}


}
