.home {
    .navbar {
        margin-bottom: 0;
        border-bottom: 15px solid rgb(195, 195, 195);
    }

    .main {
    padding: 0;
}

    @media screen and (min-width: 768px) {
        .carousel-control .glyphicon-triangle-right, .carousel-control .icon-next {
            margin-right: -15px;
        }
    }
    @media screen and (min-width: 768px){
        .carousel-control .glyphicon-triangle-left, .carousel-control .glyphicon-triangle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
            width: 30px;
            height: 30px;
            margin-top: -15px;
            font-size: 30px;
        }
    }
    .carousel-control .glyphicon-triangle-right, .carousel-control .icon-next {
        right: 50%;
        margin-right: -10px;
    }
    .carousel-control .glyphicon-triangle-left, .carousel-control .glyphicon-triangle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
    }

    // ------ Carousel Transition Style - - - - - - - - - -

    .carousel.fade {
        opacity: 1;

        .item {
            -moz-transition: opacity ease-in-out .7s;
            -o-transition: opacity ease-in-out .7s;
            -webkit-transition: opacity ease-in-out .7s;
            transition: opacity ease-in-out .7s;
            left: 0 !important;
            opacity: 0;
            top:0;
            position:absolute;
            width: 100%;
            display:block !important;
            z-index:1;
            &:first-child{
                top:auto;
                position:relative;
            }

            &.active {
                opacity: 1;
                -moz-transition: opacity ease-in-out .7s;
                -o-transition: opacity ease-in-out .7s;
                -webkit-transition: opacity ease-in-out .7s;
                transition: opacity ease-in-out .7s;
                z-index:2;
            }
        }
    } // <--End Carousel Transition Style - - - - - - - - - -

    .slider-nav {
        @media (min-width:$screen-sm){
        position: absolute;
        bottom: 0px;
        z-index: 1060;
            @media (min-width:$screen-md){
                ul {
                    margin-left: 100px;
                }
            }

            li {
                margin: 0 20px;
            a {
                display: inline-block;
                background: $brand-primary;
                color: white;
                padding: 20px
            }
            }
        }

    } // - - - </.slider-nav>

} // - - </.home>


